@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: "Anthony";
    src: url('./fontes/Anthony.woff');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Anthony', sans-serif;
}

header{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('imagens/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    color: white;
    font-family: 'Anthony', sans-serif;
}

img#topo{
    width: 150px;
    margin: 20px;
    border-radius: 50%;
}

nav{
    background-color: darkblue;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
}

li{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: blue;
    border-bottom: 3px solid red;
}

main{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessao{
    height: 400px;
    width: 100%;
    background-color: darkcyan;
}

section#home{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: white;
}

section#servicos{
    display: flex;
    align-items: center;
    justify-items: center;
    background-image: url('imagens/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

section#contato{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkkhaki;
    color: white;
}

#texto{
    margin: 0;
    padding: 0;
}

section#texto h1{
    color: white;
}

#principal{
    width: 280px;
    margin: 20px;
    border-radius: 15%;
}

.branco{
    color: white;
}

footer{
    background-color: darkblue;
    height: 30px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

footer p{
    color: white;
    text-align: center;
}